@model Identity.Api.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
 
 
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>Forgot your password?</h1>
    </div>
    <div class="page-body">
        
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <p >Please enter your email address below. You will receive a link to reset your password</p>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">@(ViewData["ReturnUrl"])
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "email" })
                        <span class="required">*</span>
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    @*<div class="center-block center-2" >
                        <span class="forgot-password">
                            <a href="@ViewBag.returnUrl">go back to the home page</a>
                        </span>
                    </div>*@
                </div>
                
            </div>
            

           

            <div class="buttons">
                <input type="submit" name="send-email" class="button-1 password-recovery-button" value="Submit" />
            </div>
        </form>
            </div>
        </div>
  
        @section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }
