@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model Identity.Api.Models.AccountViewModels.LoginViewModel

@*@inject SignInManager<ApplicationUser> SignInManager*@

@{
    ViewData["Title"] = "Log in";
}

<div class="page login-page">
    <div class="page-title">
        <h1>Welcome</h1>
    </div>

    <div class="page-body">
        <div class="customer-blocks">
            <div class="new-wrapper register-block">
                <div class="title">
                    <strong> New Customer</strong>
                </div>
                <div class="text">
                    By creating an account on our website you will be able to shop faster, be up to date on an orders status, and keep track of the orders you have previously made.
                </div>
                <div class="buttons">                
                    <a href="@ViewData["ReturnHomeUrl"]/sender/NewSender" class="button-1 register-button">Sender</a>
                    <a href="@ViewData["ReturnHomeUrl"]/Driver/NewDriver" class="button-1 register-button">Driver</a>

                </div>
            </div>
            <div class="returning-wrapper fieldset">
                <div class="title">
                    <strong>Returning Customer </strong>
                </div>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-fields">
                        <div class="inputs">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" autofocus="autofocus" class="username email"  />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="inputs">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="inputs reversed">
                            <input asp-for="RememberMe" />
                            <label for="RememberMe">Remember me?</label>
                            <span class="forgot-password">
                                <a href="/passwordrecovery">Forgot password?</a>
                            </span>
                        </div>

                      

                    </div>

                    <div class="buttons">
                        <button type="submit" class="button-1 login-button">LOG IN</button>
                    </div>
                </form>
</div>
        </div>
    </div>
    <div class="col-md-4">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @*@{
                var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }*@
        </section>
    </div>
</div>
 
            @section Scripts {
                @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
            }

