@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model Identity.Api.Models.AccountViewModels.LoginViewModel

@*@inject SignInManager<ApplicationUser> SignInManager*@

@{
    ViewData["Title"] = "Log in";
}
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">

    <section class="login-page pt-220">
        <div class="container">
            <div class="headline width-40 mb-50 ">
                <h3>LOG IN</h3>
                <P>Returning Senders/Drivers.</P>
            </div>
            <div class="login-form">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-field "> 
                     
                    @Html.TextBoxFor(m => m.Email, new { @class = "email", autofocus = "autofocus", placeholder = "Email Address" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="form-field">
                    @Html.PasswordFor(m => m.Password, new { @class = "password", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)

                </div>
                <div class="inputs reversed">
                    <input asp-for="RememberMe" />
                    <label for="RememberMe">Remember me?</label>
                    @*<span class="forgot-password">
                        <a href="/account/ForgotPassword?returnUrl=@(ViewData["ReturnUrl"])">Forgot password?</a>
                    </span>*@
                </div> 
                <button type="submit" class="login-bttn">Login into Your Account</button>
                <a href="/account/ForgotPassword?returnUrl=@(ViewData["ReturnUrl"])" class="forget">forget you password?</a>
                <div class="clearfix"></div>
                <div class="border"><span><spam>&amp;</spam></span></div>
                <a href="#" class="fb-bttn">Log in with Facebook </a>
                 
                @*<div class="sign-up"><a href="#">New Here? <span>Sign Up</span></a></div>*@

            </div>

        </div>
    </section>
</form>
  
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }

