@model DriveDrop.Bl.ViewModels.TwoParameterModel
@using DriveDrop.Bl.Services
@inject StatisticsService StatsService
    @{ 
        var isMobile = @StatsService.Mobile(); //await Component.InvokeAsync("MobileLayout");
        var top = "0px";
        if (isMobile == true)
        {
            top = "-125px";
        }
    }
<div id="sidebar" class="col-sm-3 sidebar-desktop">
    <ul id="side-navbar" class="side-fixed-menu">

        <li>

            @if (Model.Option == "Details")
            {
                @Html.ActionLink("My Personal Info", "Details", "admin", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {
                @Html.ActionLink("My Personal Info", "Details", "admin", new { id = Model.Id }, new { @class = "gig-information" })

            }



        </li>
        <li>
            @if (Model.Option == "ListTaxes")
            {
                @Html.ActionLink("Tax Rates", "ListTaxes", "rates", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {


                @Html.ActionLink("Tax Rates", "ListTaxes", "rates", new { id = Model.Id }, new { @class = "gig-information" })
            }
        </li>
        <li>
            @if (Model.Option == "rates")
            {
                @Html.ActionLink("Size Rates", "index", "rates", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {


                @Html.ActionLink("Size Rates", "index", "rates", new { id = Model.Id }, new { @class = "gig-information" })
            }
        </li>
        <li>
            @if (Model.Option == "DistanceAndWeight")
            {
                @Html.ActionLink("Distance And Weight Rates", "DistanceAndWeight", "rates", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {


                @Html.ActionLink("Distance And Weight Rates", "DistanceAndWeight", "rates", new { id = Model.Id }, new { @class = "gig-information" })
            }
        </li>


        <li>
            @if (Model.Option == "shippings")
            {

                @Html.ActionLink("List Packages", "shippings", "admin", null, new { @class = "active gig-information" })
            }
            else
            {
                @Html.ActionLink("List Packages", "shippings", "admin", new { @class = "gig-information" }, null)
            }
        </li>

        <li>
            @if (Model.Option == "Index")
            {
                @Html.ActionLink("List Users", "Index", "admin", null, new { @class = "active gig-information" })
            }
            else
            {
                @Html.ActionLink("List Users", "Index", "admin", new { @class = "gig-information" }, null)
            }

        </li>


        <li class="change-password">
            @if (Model.Option == "ChangePassword")
            {
                @Html.ActionLink("Change Password", "ChangePassword", "manage", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else

            {
                @Html.ActionLink("Change Password", "ChangePassword", "manage", new { id = Model.Id }, new { @class = "gig-information" })
            }

        </li>


    </ul>
    @*<div class="credits">
            <p>CREDITS <a href="#" class="help">?</a></p>
            <a href="#" class="price">$0.00</a>
        </div>
        <h3>Redeem Promo Code</h3>*@
    <div class="clearfix"></div>
</div>


<div class="col-sm-3 sidebar-mobile" style="top: @top;">
    <ul id="side-navbar" class="side-fixed-menu">
        <li>

            @if (Model.Option == "Details")
            {
                @Html.ActionLink("My Personal Info", "Details", "admin", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {
                @Html.ActionLink("My Personal Info", "Details", "admin", new { id = Model.Id }, new { @class = "gig-information" })

            }



        </li>
        <li>
            @if (Model.Option == "ListTaxes")
            {
                @Html.ActionLink("Tax Rates", "ListTaxes", "rates", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {


                @Html.ActionLink("Tax Rates", "ListTaxes", "rates", new { id = Model.Id }, new { @class = "gig-information" })
            }
        </li>
        <li>
            @if (Model.Option == "rates")
            {
                @Html.ActionLink("Size Rates", "index", "rates", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {


                @Html.ActionLink("Size Rates", "index", "rates", new { id = Model.Id }, new { @class = "gig-information" })
            }
        </li>
        <li>
            @if (Model.Option == "DistanceAndWeight")
            {
                @Html.ActionLink("Distance And Weight Rates", "DistanceAndWeight", "rates", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {


                @Html.ActionLink("Distance And Weight Rates", "DistanceAndWeight", "rates", new { id = Model.Id }, new { @class = "gig-information" })
            }
        </li>


        <li>
            @if (Model.Option == "shippings")
            {

                @Html.ActionLink("List Packages", "shippings", "admin", null, new { @class = "active gig-information" })
            }
            else
            {
                @Html.ActionLink("List Packages", "shippings", "admin", new { @class = "gig-information" }, null)
            }
        </li>

        <li>
            @if (Model.Option == "Index")
            {
                @Html.ActionLink("List Users", "Index", "admin", null, new { @class = "active gig-information" })
            }
            else
            {
                @Html.ActionLink("List Users", "Index", "admin", new { @class = "gig-information" }, null)
            }

        </li>


        <li class="change-password">
            @if (Model.Option == "ChangePassword")
            {
                @Html.ActionLink("Change Password", "ChangePassword", "manage", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else

            {
                @Html.ActionLink("Change Password", "ChangePassword", "manage", new { id = Model.Id }, new { @class = "gig-information" })
            }

        </li>


    </ul>
    <div class="clearfix"></div>
</div>