@model DriveDrop.Bl.ViewModels.TwoParameterModel
@using DriveDrop.Bl.Services
@inject StatisticsService StatsService
@{
    var isMobile = @StatsService.Mobile(); //await Component.InvokeAsync("MobileLayout");
    var top = "0px";
    if (isMobile == true)
    {
        top = "-125px";
    }
}
<div id="sidebar" class="col-sm-3 sidebar-desktop">
    <ul id="side-navbar" class="side-fixed-menu">
        <li>
            @if (Model.Option == "result")
            {
                @Html.ActionLink("My Personal Info", "result", "sender", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {

                @Html.ActionLink("My Personal Info", "result", "sender", new { id = Model.Id }, new { @class = "gig-information" })
            }



        </li>
        <li>
            @if (Model.Option == "Addresses")
            {
                @Html.ActionLink("My Address", "Addresses", "common", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {
                @Html.ActionLink("My Address", "Addresses", "common", new { id = Model.Id }, new { @class = "gig-information" })

            }


        </li>
        <li>
            @if (Model.Option == "Shippings")
            {
                @Html.ActionLink("My Packages", "Shippings", "sender", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            { @Html.ActionLink("My Packages", "Shippings", "sender", new { id = Model.Id }, new { @class = "gig-information" })}


        </li>
        <li>
            @if (Model.Option == "NewShipping")
            {
                @Html.ActionLink("Add New Packages", "NewShipping", "sender", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {

                @Html.ActionLink("Add New Packages", "NewShipping", "sender", new { id = Model.Id }, new { @class = "gig-information" })
            }



        </li>
        <li>
            @if (Model.Option == "ChangePassword")
            {
                @Html.ActionLink("Change Password", "ChangePassword", "manage", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {

                @Html.ActionLink("Change Password", "ChangePassword", "manage", new { id = Model.Id }, new { @class = "gig-information" })
            }



        </li>
    </ul>
    @*<div class="credits">
            <p>CREDITS <a href="#" class="help">?</a></p>
            <a href="#" class="price">$0.00</a>
        </div>
        <h3>Redeem Promo Code</h3>*@
    <div class="clearfix"></div>
</div>

<div class="col-sm-3 sidebar-mobile" style="top: @top;">
    <ul id="side-navbar" class="side-fixed-menu">
        <li>
            @if (Model.Option == "result")
            {
                @Html.ActionLink("My Personal Info", "result", "sender", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {

                @Html.ActionLink("My Personal Info", "result", "sender", new { id = Model.Id }, new { @class = "gig-information" })
            }



        </li>
        <li>
            @if (Model.Option == "Addresses")
            {
                @Html.ActionLink("My Address", "Addresses", "common", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {
                @Html.ActionLink("My Address", "Addresses", "common", new { id = Model.Id }, new { @class = "gig-information" })

            }


        </li>
        <li>
            @if (Model.Option == "Shippings")
            {
                @Html.ActionLink("My Packages", "Shippings", "sender", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            { @Html.ActionLink("My Packages", "Shippings", "sender", new { id = Model.Id }, new { @class = "gig-information" })}


        </li>
        <li>
            @if (Model.Option == "NewShipping")
            {
                @Html.ActionLink("Add New Packages", "NewShipping", "sender", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {

                @Html.ActionLink("Add New Packages", "NewShipping", "sender", new { id = Model.Id }, new { @class = "gig-information" })
            }



        </li>
        <li>
            @if (Model.Option == "ChangePassword")
            {
                @Html.ActionLink("Change Password", "ChangePassword", "manage", new { id = Model.Id }, new { @class = "active gig-information" })
            }
            else
            {

                @Html.ActionLink("Change Password", "ChangePassword", "manage", new { id = Model.Id }, new { @class = "gig-information" })
            }



        </li>
    </ul>
    @*<div class="credits">
            <p>CREDITS <a href="#" class="help">?</a></p>
            <a href="#" class="price">$0.00</a>
        </div>
        <h3>Redeem Promo Code</h3>*@
    <div class="clearfix"></div>
</div>


