@model DriveDrop.Bl.ViewModels.VehicleInfoModel
@using DriveDrop.Bl.Services
@inject StatisticsService StatsService
@{
    var isMobile = @StatsService.Mobile(); //await Component.InvokeAsync("MobileLayout");
    var top = "0px";
    if (isMobile == true)
    {
        top = "-105px";
    }
    ViewData["Title"] = "Details";
    var option = new DriveDrop.Bl.ViewModels.TwoParameterModel { Id = Model.Id, Option = "Vehicle" };
}


<section class="sender-desh">
    <div class="container">
        <div class="main-cont">
            <div class="row">

                @await Html.PartialAsync("DriverNavigation", option)

                <div id="content" class="col-sm-9" style="top: @top;">
                    <div id="gig-information" class="sender-form">
                        <h3 class="blue-head active">Vehicle Details</h3>
                        <div class="form-body">
                            <div class="profile-form">
                                <div class="row">
                                    <form data-ajax-method="POST" asp-action="UpdateVehicleInfo" enctype="multipart/form-data"
                                          data-ajax="true" data-ajax-mode="replace" data-ajax-update="#bar-notification">

                                        @Html.AntiForgeryToken()


                                        <input asp-for="Id" hidden />


                                        <div class="title">
                                            <strong>My Vehicle Infomation Details</strong>
                                        </div>

                                        <div class="form-field">

                                            <div class="form-field">
                                                <label for="TransportTypeId">Vehicle Type</label>


                                                @Html.DropDownListFor(m => m.TransportTypeId, Model.TransportTypeList, new { @class = "form-control" })


                                                <span asp-validation-for="TransportTypeId" class="text-danger"></span>

                                            </div>

                                            <div class="form-field">
                                                <label for="VehicleMake">Vehicle Make</label>

                                                <input asp-for="VehicleMake" placeholder="Vehicle Make" class="form-control" />

                                                <span asp-validation-for="VehicleMake" class="text-danger"></span>


                                            </div>
                                            <div class="form-field">
                                                <label for="VehicleModel">Vehicle Model</label>
                                                <input asp-for="VehicleModel" placeholder="VehicleModel" class="form-control" />

                                                <span asp-validation-for="VehicleModel" class="text-danger"></span>
                                            </div>

                                            <div class="form-field">
                                                <label for="VehicleColor">Vehicle Color</label>
                                                <input asp-for="VehicleColor" placeholder="VehicleColor" class="form-control" />

                                                <span asp-validation-for="VehicleColor" class="text-danger"></span>
                                            </div>
                                            <div class="form-field">

                                                <label for="VehicleYear">Vehicle Year</label>
                                                <input asp-for="VehicleYear" placeholder="VehicleYear" class="form-control" />

                                                <span asp-validation-for="VehicleYear" class="text-danger"></span>
                                            </div>


                                            <div class="form-field">
                                                <div class="title">
                                                    <strong>Driver license  photo</strong>
                                                </div>
                                                <div class="avatar-page">

                                                    <input type='file' id="my-file-selector-license" name="DriverLincensePictureUri" class="form-control" />
                                                    <img id="license-image" src="@Model.DriverLincensePictureUri" class="img-thumbnail img-responsive imgSum" width="150" height="150" />

                                                </div>

                                            </div>

                                            <div class="form-field">
                                                <div class="title">
                                                    <strong>Vehicle photo</strong>
                                                </div>
                                                <div class="avatar-page">
                                                    <input type='file' id="my-file-selector-insurance" name="VehiclePhotoUri" class="form-control" />
                                                    <img id="insurance-image" src="@Model.vehiclePhotoUri" class="img-thumbnail img-responsive imgSum" width="150" height="150" />
                                                </div>

                                            </div>


                                            <div class="form-field">
                                                <div class="title">
                                                    <strong>Proof of insurance</strong>
                                                </div>
                                                <div class="avatar-page">

                                                    <input type='file' id="my-file-selector-insurance" name="InsurancePhotoUri" class="form-control" />
                                                    @*<img id="insurance-image" src="@Model.insurancePhotoUri" class="img-thumbnail img-responsive" width="150" height="150" />*@
                                                    <iframe src="@(Model.insurancePhotoUri)" class="iframeClass" style="width:700px; height:300px;"> </iframe>

                                                </div>

                                            </div>

                                            <div class="buttons">
                                                <input type="submit" value="Save" name="save-info-button" class="bttn" />

                                            </div>
                                            <div class="center-block bg-primary text-center" id="bar-notification">

                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

    $(function () {
        $('form').submit(function () {
            var data = new FormData();
            i = 0;

            $(".file-select").each(function () { data.append($(this).val(), $(this).get(0).files[0]); i++; })

            var postData = $('#fields :input');

            $.each(postData, function (key, input) {
                alert(input.name);
                alert(input.value);
                data.append(input.name, input.value);
            });



            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#bar-notification').html(result);
                        alert(result);
                    },
                    error: function (response) {
                        alert("Error:" + response);
                    }
                });
            }
            return false;
        });
    });



    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#photoUrl").change(function () {
        readURL(this);
    });

    function readURL4(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#insurance-image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#my-file-selector-insurance").change(function () {
        readURL4(this);
    });




    function readURL3(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#Vehicle-image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#my-file-selector-Vehicle").change(function () {
        readURL3(this);
    });



    function readURL2(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#Personal-image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#my-file-selector-Personal").change(function () {
        readURL2(this);
    });


    function readURL1(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#license-image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#my-file-selector-license").change(function () {
        readURL1(this);
    });


    var theDiv = document.getElementById("newShipmentTr");
    var button = document.getElementById("button");

    function removeRed() {

        var classContent = theDiv.className;

        theDiv.className = classContent.replace("sr-only", "").trim();
    }

    //button.addEventListener("click", removeRed, false);

    jQuery('#PickupZipCode').on('input propertychange paste', function () {
        UpdateRate()
    });
    jQuery('#DeliveryZipCode').on('input propertychange paste', function () {
        UpdateRate()
    });
    jQuery('#Quantity').on('input propertychange paste', function () {
        UpdateRate()
    });
    jQuery('#Amount').on('input propertychange paste', function () {
        UpdateRate()
    });

    $("#TransportTypeId").change(function () {
        UpdateRate()
    });

    $("#PriorityTypeId").change(function () {
        UpdateRate()
    });

    $("#PromoCode").change(function () {
        UpdateRate()
    });

    function UpdateRate() {


        // var myLength = $("#PickupZipCode").val().length;
        var delLength = $("#DeliveryZipCode").val().length;
        var delZip = $("#DeliveryZipCode").val();
        if (delLength < 5)
            return;

        var pickupLength = $("#PickupZipCode").val().length;
        var pickupZip = $("#PickupZipCode").val();
        if (pickupLength < 5)
            return;



        var weight = $("#Weight").val();
        var quantity = $("#Quantity").val();
        var amount = $("#Amount").val();
        var transportTypeId = $("#TransportTypeId").val();
        if (transportTypeId == 'Prority')
            return;
        var priorityTypeId = $("#PriorityTypeId").val();
        if (priorityTypeId == 'Transport Type')
            return;


        var promoCode = $("#PromoCode").val();

        if (quantity != '' && amount != '' && transportTypeId != '' && priorityTypeId != '') {
            alert("weight " + weight + "quantity:" + quantity + "amount:" + amount + "transportTypeId:" + transportTypeId + "priorityTypeId:" + priorityTypeId);

            $.ajax({
                url: '@Url.Action("CalculateAmount","rates")', // to get the right path to controller from TableRoutes of Asp.Net MVC
                dataType: "json", //to work with json format
                type: "POST", //to do a post request

                //  contentType: 'application/json; charset=utf-8', //define a contentType of your request
                cache: false, //avoid caching results
                data: { zipFrom: pickupZip, zipTo: delZip, weight: weight, qty: quantity, priority: priorityTypeId, transportTypeId: transportTypeId, promoCode: promoCode }, // here you can pass arguments to your request if you need
                success: function (data) {
                    // data is your result from controller
                    if (data) {

                        $("#subtotal").text(data.strSubTotal);
                        $("#TaxDiscount").text(data.strDiscount);
                        $("#totalTax").text(data.strTaxAmount);
                        $("#total").text(data.strAmountToCharge);

                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    //alert(xhr.status);
                    //alert(thrownError);

                }
            });
        }
    }





    </script>
}
