@model IEnumerable<DriveDrop.Web.ViewModels.AddressModel>
@using DriveDrop.Web.Services
@inject FormatService fService

    @{
        ViewData["Title"] = "Details";

        var addresses = Model;
        var customerTypeId = (int)ViewBag.CustomerType;
    }

    <div class="side-2">

        @if(customerTypeId==1){
        @await Html.PartialAsync("AdminNavigation", (int)@ViewBag.Id)
        }else if(customerTypeId==2){
        @await Html.PartialAsync("CustomerNavigation", (int)@ViewBag.Id)
        }
        else if(customerTypeId==3){
        @await Html.PartialAsync("DriverNavigation", (int)@ViewBag.Id)
        }


    </div>
    <div class="center-2">
        <span class="AntiForge"> @Html.AntiForgeryToken() </span>

        <div class="page account-page address-list-page">
            <div class="page-title">
                <h1>My Addresses</h1>
            </div>

            <div class="page-body">
                @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()
                    <div class="address-list">
                        <ol class="opc">
                            <li class="tab-section allow active">
                                <div class="step-title">
                                    <h4 class="title">Default Address</h4>
                                </div>
                            </li>
                        </ol>
                        
@if (addresses.Where(x =>  x.TypeAddress == "home").FirstOrDefault() == null)
{
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        THERE ARE NO DEFAULT ADDRESS
    </div>
}
                        @foreach (var address in addresses.Where(x => x.TypeAddress == "home"  ))
                        {
                            

                            <div class="section address-item">
                                <div class="title"> 
                                    <strong>@address.Contact @fService.FormatPhoneNumber(address.Phone, "") </strong>
                                </div>
                                <ul class="info">

                                    <li class="address1">
                                        
                                        @address.Street
                                    </li>
                                    <li class="city-state-zip">
                                        @address.City, @address.State, @address.ZipCode
                                    </li>
                                    <li class="country">
                                        @address.Country
                                    </li>
                                </ul>
                                <div class="buttons">
                                    @*<input type="button" class="button-2 edit-address-button" onclick="location.href = '@(Url.Action("EditAddress","Sender", new {id = address.Id}))'" value="Edit" />*@
                                    @*<input type="button" class="button-2 delete-address-button" onclick="deletecustomeraddress(@(address.Id))" value="Delete" />*@
                                </div>
                            </div>
                        }
                    </div>
                            <div class="address-list">
                    
                                <ol class="opc">
                                    <li class="tab-section allow active">
                                        <div class="step-title">
                                            <h4 class="title">Pickup Address</h4>
                                        </div>
                                    </li>
                                </ol>

                                @foreach (var address in addresses.Where(x => x.TypeAddress.ToLower() == "pickup"))
                                {

                                    <div class="section address-item">
                                        <div class="title"> 
                                        <strong>@address.Contact @address.Phone</strong>
                                    </div>
                                    <ul class="info">

                                        <li class="address1">
                                             
                                            @address.Street
                                        </li>
                                        <li class="city-state-zip">
                                            @address.City, @address.State, @address.ZipCode
                                        </li>
                                        <li class="country">
                                            @address.Country
                                        </li>
                                    </ul>
                                    <div class="buttons">
                                        
                                        <input type="button" class="button-2 edit-address-button" onclick="defaultaddress(@(address.Id))" value="Set as default" />
                                        @*<input type="button" class="button-2 edit-address-button" onclick="location.href = '@(Url.Action("EditAddress","Sender", new {id = address.Id}))'" value="Edit" />*@
                                        <input type="button" class="button-2 delete-address-button" onclick="deletecustomeraddress(@(address.Id))" value="Delete" />
                                    </div>
                                </div>
                                }
                            </div>

                            <div class="address-list">
                                <ol class="opc">
                                    <li class="tab-section allow active">
                                        <div class="step-title">
                                            <h4 class="title">Dropoff Address</h4>
                                        </div>
                                    </li>
                                </ol>


                                @foreach (var address in addresses.Where(x => x.TypeAddress.ToLower() == "drop"))
                                {

                                    <div class="section address-item">
                                        <div class="title">
                                            <strong>@address.Contact @address.Phone</strong>
                                        </div>
                                        <ul class="info">

                                            <li class="address1">
                                                 
                                                @address.Street
                                            </li>
                                            <li class="city-state-zip">
                                                @address.City, @address.State, @address.ZipCode
                                            </li>
                                            <li class="country">
                                                @address.Country
                                            </li>
                                        </ul>
                                        <div class="buttons">

                                            @*<input type="button" class="button-2 edit-address-button" onclick="location.href = '@(Url.Action("EditAddress","Sender", new {id = address.Id}))'" value="Edit" />*@
                                            <input type="button" class="button-2 delete-address-button" onclick="deletecustomeraddress(@(address.Id))" value="Delete" />
                                        </div>
                                    </div>
                                }
                            </div>

                    <script type="text/javascript">
                        function defaultaddress(addressId) {
                            if (confirm('Are you sure?')) {
                                var postData = {
                                    id: addressId
                                };
                                $.ajax({
                                    cache: false,
                                    type: 'POST',
                                    url: '/Common/DefaultAddress',
                                    data: postData,
                                    dataType: 'json',
                                    success: function (data) {
                                        location.href = '/common/Addresses/@ViewBag.Id';
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert('Failed to update');
                                    }
                                });
                            }
                        }

                        function deletecustomeraddress(addressId) {
                            if (confirm('Are you sure?')) {
                                var postData = {
                                    id: addressId
                                };

                                //addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: 'POST',
                                    url: '/common/AddressDelete',
                                    data: postData,
                                    dataType: 'json',
                                    success: function (data) {
                                         location.href = '/common/Address/@ViewBag.Id';
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert('Failed to delete');
                                    }
                                });
                            }
                        }
                    </script>
               }
                <div class="add-button">
                    <input type="button" class="button-1 add-address-button" onclick="location.href='/common/addressadd/@(ViewBag.Id)'" value="Add new" />
                </div>
            </div>
        </div>


    </div>


