@model DriveDrop.Web.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="side-2">

    @if (Model.IsAdmin == true)
    {
        @await Html.PartialAsync("AdminNavigation", Model.Id)
    }
    else
    {
    @if (Model.IsDriver == true)
    {
    @await Html.PartialAsync("DriverNavigation", Model.Id)
    }
    else
    {
    @await Html.PartialAsync("CustomerNavigation", Model.Id)
    }
    }

</div>
<div class="center-2">
    <div class="page account-page customer-info-page">
        <div class="page-title">
            <h1>Change Password</h1>
        </div>

        <div class="page-body">
          

            <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
                <h4>Change Password</h4>
              
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-fields">
                    <div class="inputs">
                        @*<label asp-for="OldPassword" class="col-md-2 control-label"></label>*@


                        @Html.TextBoxFor(m => m.OldPassword, new { @placeholder = "Current Password" })
                        <span class="required">*</span>
                        @Html.ValidationMessageFor(m => m.OldPassword)


                    </div>
                    <div class="inputs">


                        @Html.TextBoxFor(m => m.NewPassword, new { @placeholder = "New Password" })
                        <span class="required">*</span>
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="inputs">



                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @placeholder = "Confirm New Password" })
                        <span class="required">*</span>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>

                </div>
                    <div class="form-fields">
                        <div class="buttons">

                            <button type="submit" class="button-1 save-customer-info-button">Change Password</button>

                        </div>

                    </div>
                   
               
</form>
        </div>
    </div>
</div>
            @section Scripts {
                @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
            }
