@model DriveDrop.Web.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    var option = new DriveDrop.Web.ViewModels.TwoParameterModel { Id = Model.Id, Option = "ChangePassword" };
}

<section class="sender-desh">
    <div class="container">
        <div class="main-cont">
            <div class="row">
                @if (Model.IsAdmin == true)
                {
                    @await Html.PartialAsync("AdminNavigation", option)
                }
                else
                {
                    @if (Model.IsDriver == true)
                    {
                        @await Html.PartialAsync("DriverNavigation", option)
                    }
                    else
                    {
                        @await Html.PartialAsync("CustomerNavigation", option)
                    }
                }
                  
                 <div id="content" class="col-sm-9">
                    <div id="gig-information" class="sender-form">
                        <h3 class="blue-head active">Change Password</h3>
                        <div class="form-body">
                            <div class="profile-form">
                                <div class="row">
                                    <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
                                        <h4>Change Password</h4>

                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-fields">
                                            <div class="form-field">
                                                @*<label asp-for="OldPassword" class="col-md-2 control-label"></label>*@
                                                <div class="col-md-12">

                                                    @Html.TextBoxFor(m => m.OldPassword, new { @placeholder = "Current Password", @class = "form-control" })
                                                    <span class="required">*</span>
                                                    @Html.ValidationMessageFor(m => m.OldPassword)

                                                </div>
                                                </div>
                                            <div class="form-field"> 
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.NewPassword, new { @placeholder = "New Password", @class = "form-control" })
                                                    <span class="required">*</span>
                                                    @Html.ValidationMessageFor(m => m.NewPassword)
                                                </div> </div>
                                            <div class="form-field">
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @placeholder = "Confirm New Password", @class = "form-control" })
                                                    <span class="required">*</span>
                                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                                </div>
                                            </div>

                                        </div>
                                        <div class="post-gig">
                                            <input type="submit" value="Change Password" name="save-info-button" class="bttn save-customer-info-button" />
                                        </div>

                                        @*<div class="form-fields">
                                            <div class="buttons">

                                                <button type="submit" class="bttn">Change Password</button>

                                            </div>

                                        </div>*@


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section> 
                                    @section Scripts {
                                        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
                                    }
