@model DriveDrop.Web.ViewModels.Customer



<td>
   @Model.CustomerType
</td>
<td>
  @Model.FullName
</td>
<td>
   @Model.CustomerStatus
</td>
<td>
    @if (Model.TransportType != null)
    {
  @Model.TransportType
    }
    
</td>

<td>
    
    <a asp-action="Edit" asp-route-id="@Model.Id" class="esh-catalog-button">Edit</a> 
    <a asp-action="Details" asp-route-id="@Model.Id" class="esh-catalog-button">Details</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id" class="esh-catalog-button">Deletes</a>
</td>


@*<form asp-controller="Customer" asp-action="Index">*@

    @*<img class="esh-catalog-thumbnail" src="@Model.PictureUri" />
    <input class="esh-catalog-button @((!User.Identity.IsAuthenticated) ? "is-disabled" : "")" type="submit" value="[ ADD TO CART ]" />*@





    @*<div class="esh-customer-name">
        <span>@Model.CustomerType.Name</span>
    </div>
    <div class="esh-customer-name">
        <span>@Model.FullName</span>
    </div>
    <div class="esh-customer-name">
        <span>@Model.CustomerStatus.Name</span>
    </div>
    <div class="esh-customer-name">
        <span>@Model.TransportType.Name</span>
    </div>*@

    @*<input type="hidden" asp-for="@Model.CatalogBrand" name="brand" />
        <input type="hidden" asp-for="@Model.CatalogBrandId" name="brandId" />
        <input type="hidden" asp-for="@Model.CatalogType" name="type" />
        <input type="hidden" asp-for="@Model.CatalogTypeId" name="typeId" />
        <input type="hidden" asp-for="@Model.Description" name="description" />
        <input type="hidden" asp-for="@Model.Id" name="id" />
        <input type="hidden" asp-for="@Model.Name" name="name" />
        <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />
        <input type="hidden" asp-for="@Model.Price" name="price" />*@
    @*</form>*@
