@model DriveDrop.Web.ViewModels.PaginationInfo

<div class="pager">
    
         
                <a class="previous-page @Model.Previous"
                   id="Previous" 
                   asp-route-page="@(Model.ActualPage -1)"
                   aria-label="Previous">
                    <img title="" alt="DriveDrop" src="~/images/first.png">
                    
                </a>

                <span class="span">
                    Showing @Model.ItemsPerPage of @Model.TotalItems items - Page @(Model.ActualPage + 1) - @Model.TotalPages
                </span>

                <a class="next-page @Model.Next"
                   id="Next" 
                   asp-route-page="@(Model.ActualPage + 1)"
                   aria-label="Next">
                    <img title="" alt="DriveDrop" src="~/images/last.png">
                </a>
            
    </div>
 