@model DriveDrop.Web.ViewModels.Shipment

 
    <td>
        
        <img src="@Model.PickupPictureUri" class="img-rounded" alt="Cinque Terre" width="90" height="60">
        <div>
            @Html.DisplayFor(modelItem => modelItem.IdentityCode)
        </div>
    </td>
<td>
@if (Model.Sender != null)
{
    var sender = "Sender: " + Model.Sender.FirstName + " " + Model.Sender.LastName;
    <div>
        @Html.ActionLink(sender, "details", "admin", new { id = Model.SenderId });
    </div>

}
    @if (Model.Driver != null)
    {
        var driver = "Driver:  " + Model.Driver.FirstName + " " + Model.Driver.LastName;
        <div>
            @Html.ActionLink(driver, "details", "admin", new {id = Model.DriverId });
        </div>
    }
</td>
    <td>
        <div> @Html.DisplayFor(modelItem => modelItem.ShippingCreateDate)</div>

        <div>
            @Html.DisplayFor(modelItem => modelItem.ShippingStatus.Name)
        </div>
    </td>

    <td>
        @Html.DisplayFor(modelItem => modelItem.PriorityType.Name)/
        @Html.DisplayFor(modelItem => modelItem.PriorityTypeLevel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Amount)/
        @Html.DisplayFor(modelItem => modelItem.Discount)
    </td>
    <td>
        <div>
            @Html.DisplayFor(modelItem => modelItem.PickupAddress.Street)
        </div>
        <div>    @Html.DisplayFor(modelItem => modelItem.PickupAddress.City)</div>
        @Html.DisplayFor(modelItem => modelItem.PickupAddress.ZipCode)
    </td>
    <td>
        <div>
            @Html.DisplayFor(modelItem => modelItem.DeliveryAddress.Street)
        </div>
        <div>
            @Html.DisplayFor(modelItem => modelItem.DeliveryAddress.City)
        </div>
        @Html.DisplayFor(modelItem => modelItem.DeliveryAddress.ZipCode)
    </td>
    <td>
        <div>
            <button id="@Model.Id"
                    pickup-id="@Model.PickupAddress.Street @Model.PickupAddress.City @Model.PickupAddress.ZipCode"
                    delivery-id="@Model.DeliveryAddress.Street @Model.DeliveryAddress.City @Model.DeliveryAddress.ZipCode"
                    onClick="javascript:SetAddressFunction(this);">
                <i class="material-icons" style="font-size:12px;color:red">directions</i>
            </button>
        </div>

    </td>


 

<script type="text/javascript">
    function changstatus(newId, Customerid) {
         
        var selectedValue = $(newId).val(); 
        var selectedText = $(newId).find("option:selected").text();
        
        if (confirm('Are you sure to change status to: ' + selectedText+" ?")) {
                                var postData = {
                                    customerId: Customerid,
                                    statusId: selectedValue,
                                };
                                $.ajax({
                                    cache: false,
                                    type: 'POST',
                                    url: '/admin/ChangeCustomerStatus',
                                    data: postData,
                                    dataType: 'json',
                                    success: function (data) {
                                         alert(data);
                                        @*location.href = '/common/Address/@ViewBag.Id';*@
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert('Failed to update');
                                    }
                                });
                            }
    }
</script>
@*<form asp-controller="Customer" asp-action="Index">*@

    @*<img class="esh-catalog-thumbnail" src="@Model.PictureUri" />
    <input class="esh-catalog-button @((!User.Identity.IsAuthenticated) ? "is-disabled" : "")" type="submit" value="[ ADD TO CART ]" />*@





    @*<div class="esh-customer-name">
        <span>@Model.CustomerType.Name</span>
    </div>
    <div class="esh-customer-name">
        <span>@Model.FullName</span>
    </div>
    <div class="esh-customer-name">
        <span>@Model.CustomerStatus.Name</span>
    </div>
    <div class="esh-customer-name">
        <span>@Model.TransportType.Name</span>
    </div>*@

    @*<input type="hidden" asp-for="@Model.CatalogBrand" name="brand" />
        <input type="hidden" asp-for="@Model.CatalogBrandId" name="brandId" />
        <input type="hidden" asp-for="@Model.CatalogType" name="type" />
        <input type="hidden" asp-for="@Model.CatalogTypeId" name="typeId" />
        <input type="hidden" asp-for="@Model.Description" name="description" />
        <input type="hidden" asp-for="@Model.Id" name="id" />
        <input type="hidden" asp-for="@Model.Name" name="name" />
        <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />
        <input type="hidden" asp-for="@Model.Price" name="price" />*@
    @*</form>*@
