@model  DriveDrop.Web.ViewModels.Customer

@{
    ViewData["Title"] = "Details"; 
}
<section class="esh-catalog-filters">
    <div class="container">
        <p>   <h4>Driver Details </h4></p>
    </div>
</section>
<div class="container">
 
    <div class="row"> 
        <div class="col-md-5">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt>
                    Customer Status
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CustomerStatus.Name)
                </dd>
                <dt>
                    Customer Type
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CustomerType.Name)
                </dd>
                
                

            </dl>
        </div>
        <div class="col-md-5">
            <dl class="dl-horizontal">
               
                <dt>
                    
                </dt>
                <dd>


                    <div class="container">
                        <h3> Driver license</h3>

                        <img src="@Model.DriverLincensePictureUri" class="img-rounded" alt="Cinque Terre" width="204" height="136">
                    </div>

                </dd>
                <dt>
                    E-Mail
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    Phone
                </dt>
                <dd>
                    @Model.Phone
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div id="newShipment">
            <h3> <label class="title">My Pickup/Delivery</label></h3>
            @await Component.InvokeAsync("ShippingByDriver", new { driverId = Model.Id })
        </div>
        <hr />
    </div>
    <div class="row">
        <div id="newShipment">
            <h3><label class="title">Shipments  not assigned / Ready to Pickup </label></h3>
            @await Component.InvokeAsync("ShippingNoAssigned")
        </div>
    </div>


    <div class="row">


            @if (Model.ShipmentDrivers != null && Model.ShipmentDrivers.Count>0)
                    {

                <table class="table">

                    <tr>
                        <th colspan="5">  <label> Shipment Assigned to me</label></th>


                    <tr>
                        <th>#</th>
                        <th><div>Date </div> Status</th>
                        <th>Priority</th>
                        <th><div>Amount</div>discount</th>
                        <th>Pickup Address</th>
                        <th>Delivery Address</th>

                    </tr>

                    @foreach (var item in Model.ShipmentDrivers)
                    {
                        <tr>
                            <td class="btnAssingShipping"> @item.Id</td>
                            <td>
                                <div> @Html.DisplayFor(modelItem => item.ShippingCreateDate)</div>
                                <div><div>
            @Html.DisplayFor(modelItem => item.ShippingStatus.Name)

        </div>

                                         <form asp-action="ChangeShippingStatus">
                                        <input name="customerId" type="hidden" value="@Model.Id" />
                                        <input name="shipingId" type="hidden" value="@item.Id" />
                                        <select name="ShippingStatusId" asp-items="@ViewBag.ShippingStatuses" class="dropdown form-control"></select>
                                             <input type="submit" value="Change" />
                                        </form>
        </div>
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PriorityType.Name)/
                                @Html.DisplayFor(modelItem => item.PriorityTypeLevel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)/
                                @Html.DisplayFor(modelItem => item.Discount)
                            </td>
                            <td>
                                <div>
                                    @Html.DisplayFor(modelItem => item.PickupAddress.Street)
                                </div>
                                <div>    @Html.DisplayFor(modelItem => item.PickupAddress.City)</div>
                                @Html.DisplayFor(modelItem => item.PickupAddress.ZipCode)
                            </td>
                            <td>
                                <div>
                                    @Html.DisplayFor(modelItem => item.DeliveryAddress.Street)
                                </div>
                                <div>
                                    @Html.DisplayFor(modelItem => item.DeliveryAddress.City)
                                </div>
                                @Html.DisplayFor(modelItem => item.DeliveryAddress.ZipCode)
                            </td>
                        </tr>
                    }
                </table>

            }

        </div>
    <div>
        <a asp-controller="admin" asp-action="Index">Back to List</a>
    </div>
</div>
   <script>
       //$(document).ready(function () {
       //$(".btnAssingShipping").click(function () { alert(1); });
       
       //});
      @*       var theDiv = document.getElementById("newShipmentTr");
            var button = document.getElementById("button");

            function removeRed() {

                var classContent = theDiv.className;

                theDiv.className = classContent.replace("sr-only", "").trim();
            }

            button.addEventListener("click", removeRed, false);*@


        </script>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
    }
