@model IEnumerable<ApplicationCore.Entities.ClientAgregate.ShipmentAgregate.Shipment>





<div class="row">
    <table class="table">

        <tr>
            <th>#</th>
            <th><div>Date </div> Status</th>
            <th>Priority</th>
            <th><div>Amount</div>discount</th>
            <th>Pickup Address</th>
            <th>Delivery Address</th>

        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td> 
                    @Html.ActionLink("Asign to me!","AssignDriver", new { id = ViewBag.DriverId , shipingId  = item.Id})
                </td>
                <td>
                    <div> @Html.DisplayFor(modelItem => item.ShippingCreateDate)</div>
                    <div>
                        @Html.DisplayFor(modelItem => item.ShippingStatus.Name)
                    </div>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PriorityType.Name)/
                    @Html.DisplayFor(modelItem => item.PriorityTypeLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)/
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    <div>
                        @Html.DisplayFor(modelItem => item.PickupAddress.Street)
                    </div>
                    <div>    @Html.DisplayFor(modelItem => item.PickupAddress.City)</div>
                    @Html.DisplayFor(modelItem => item.PickupAddress.ZipCode)
                </td>
                <td>
                    <div>
                        @Html.DisplayFor(modelItem => item.DeliveryAddress.Street)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.DeliveryAddress.City)
                    </div>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress.ZipCode)
                </td>
            </tr>
        }
    </table>



</div>