@model int
<div class="block block-account-navigation">
    <div class="title">
        <strong>My account</strong>
    </div>
    <div class="listbox">
        <ul class="list">

            <li class="customer-info">
                @Html.ActionLink("My Personal info", "result", "sender", new { id = Model }, null)
                 
            </li>
            <li class="customer-info"> 
                @Html.ActionLink("My Address", "Address", "sender", new { id = Model }, null)
            </li>
            <li class="customer-info"> 
                @Html.ActionLink("My Shippings", "Shippings", "sender", new { id = Model }, null)
            </li>
            <li class="customer-info">
                @Html.ActionLink("Add new Shipping", "NewShipping", "sender", new { id = Model }, null) 
            </li>
            <li class="customer-info">
                @Html.ActionLink("Rates", "index", "rates", new { id = Model }, null)
            </li>
            <li class="change-password">
                <a href="/customer/changepassword" class="inactive">Change password</a>
            </li>


        </ul>
    </div>
</div>