@model int
<div class="block block-account-navigation">
    <div class="title">
        <strong>My account (Administrator)</strong>
    </div>
    <div class="listbox">
        <ul class="list">

            <li class="customer-info">
                @Html.ActionLink("My Personal Info", "Details", "admin", new { id = Model }, null)
                 
            </li>
           <li class="customer-info"> 
                @Html.ActionLink("Size Rates", "index", "rates", new { id = Model }, null)
            </li>
            <li class="customer-info">
                @Html.ActionLink("Distance And Weight Rates", "DistanceAndWeight", "rates", new { id = Model }, null)
            </li>


            <li class="customer-info">
                @Html.ActionLink("Create New Sender", "newsender", "sender" )
            </li>

            <li class="customer-info">
                @Html.ActionLink("Create New Driver", "NewDriver", "driver" )
            </li>
            <li class="customer-info">
                @Html.ActionLink("List Packages", "shippings", "admin")
            </li>

            <li class="customer-info">
                @Html.ActionLink("List Users", "Index", "admin")

            </li>

            @*<li class="customer-info">
        @Html.ActionLink("My Shippings", "Shippings", "sender", new { id = Model }, null)
    </li>
    <li class="customer-info">
        @Html.ActionLink("Add new Shipping", "NewShipping", "sender", new { id = Model }, null)
    </li>
    <li class="customer-info">
        @Html.ActionLink("Rates", "index", "rates", new { id = Model }, null)
    </li>*@
            <li class="change-password">
                @Html.ActionLink("Change Password", "ChangePassword", "manage", new { id = Model }, null)

            </li>


        </ul>
    </div>
</div>