@model int

<div id="sidebar" class="col-sm-3 sidebar-desktop">
    <ul id="side-navbar" class="side-fixed-menu">
        <li>
            @Html.ActionLink("My Personal Info", "result", "sender", new { id = Model },  new { @class = "active gig-information" })
        </li>
        <li>
            @Html.ActionLink("My Address", "Addresses", "common", new { id = Model },  new { @class = "gig-information" })

        </li>
        <li>
            @Html.ActionLink("My Packages", "Shippings", "sender", new { id = Model }, new { @class = "gig-information" })

        </li>
        <li>
            @Html.ActionLink("Add New Packages", "NewShipping", "sender", new { id = Model }, new { @class = "gig-information" })


        </li>
        <li>
            @Html.ActionLink("Change Password", "ChangePassword", "manage", new { id = Model }, new { @class = "gig-information" })


        </li>
    </ul>
    <div class="credits">
        <p>CREDITS <a href="#" class="help">?</a></p>
        <a href="#" class="price">$0.00</a>
    </div>
    <h3>Redeem Promo Code</h3>
    <div class="clearfix"></div>
</div>

 <div class="col-sm-3 sidebar-mobile">
    <ul id="side-navbar" class="side-fixed-menu">
        <li>
            @Html.ActionLink("My Personal Info", "result", "sender", new { id = Model }, new { @class = "gig-information" })
        </li>
        <li>
            @Html.ActionLink("My Address", "Addresses", "common", new { id = Model }, new { @class = "gig-information" })

        </li>
        <li>
            @Html.ActionLink("My Packages", "Shippings", "sender", new { id = Model }, new { @class = "gig-information" })

        </li>
        <li>
            @Html.ActionLink("Add New Packages", "NewShipping", "sender", new { id = Model }, new { @class = "gig-information" })


        </li>
        <li>
            @Html.ActionLink("Change Password", "ChangePassword", "manage", new { id = Model }, new { @class = "gig-information" })


        </li>

    </ul>
    <div class="credits">
        <p>CREDITS <a href="#" class="help">?</a></p>
        <a href="#" class="price">$0.00</a>
    </div>
    <h3>Redeem Promo Code</h3>
    <div class="clearfix"></div>
</div>


