@model int
<div class="block block-account-navigation">
    <div class="title">
        <strong>Sender dashboard</strong>
    </div>
    <div class="listbox">
        <ul class="list">

            <li class="customer-info">
                @Html.ActionLink("My Personal info", "result", "sender", new { id = Model }, null)
                 
            </li>
            <li class="customer-info"> 
                @Html.ActionLink("My Address", "Address", "sender", new { id = Model }, null)
            </li>
            <li class="customer-info"> 
                @Html.ActionLink("My Packages", "Shippings", "sender", new { id = Model }, null)
            </li>

            <li class="customer-info">
                @Html.ActionLink("Add new Packages", "NewShipping", "sender", new { id = Model }, null) 
            </li>
            <li class="change-password">
                @Html.ActionLink("Change my password", "ChangePassword", "manage", new { id = Model }, null)

            </li>



        </ul>
    </div>
</div>