@model int
<div class="block block-account-navigation">
    <div class="title">
        <strong>Driver dashboard</strong>
    </div>
    <div class="listbox">
        <ul class="list">
            <li class="customer-info">
                @Html.ActionLink("Ready To Pickup", "readytopickup", "driver", new { id = Model }, null)

            </li>
            <li class="customer-info">
                @Html.ActionLink("Pending Pickup", "PendingPickUp", "driver", new { id = Model }, null)

            </li>
            <li class="customer-info">
                @Html.ActionLink("PickedUp", "PickedUp", "driver", new { id = Model }, null)

            </li>
            <li class="customer-info">
                @Html.ActionLink("Delivery In Process", "DeliveryInProcess", "driver", new { id = Model }, null)

            </li> 
            <li class="customer-info">
                @Html.ActionLink("Deliver", "Deliver", "driver", new { id = Model }, null)

            </li> 
            <li class="customer-info">
                @Html.ActionLink("Canceled", "Canceled", "driver", new { id = Model }, null)

            </li> 
            <li class="customer-info">
                @Html.ActionLink("My Personal Info", "result", "driver", new { id = Model }, null)
                 
            </li>
            <li class="customer-info"> 
                @Html.ActionLink("My Addresses", "Addresses", "common", new { id = Model }, null)

            </li>

            <li class="customer-info">
                @Html.ActionLink("My Vehicle", "Vehicle", "driver", new { id = Model }, null)
            </li>
            
            <li class="change-password">
                @Html.ActionLink("Change My Password", "ChangePassword", "manage", new { id = Model }, null)
               
            </li>


        </ul>
    </div>
</div>