<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drivedrop Identity</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="@(Url.Content("~/lib/bootstrap/dist/css/bootstrap.css"))" />
        <link rel="stylesheet" href="@(Url.Content("~/css/site.css"))" />
        <link rel="stylesheet" href="@(Url.Content("~/css/styles.css"))" />
    </environment>
    @*<environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="@(Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css"))"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="@(Url.Content("~/css/styles.min.css"))" />
    </environment>*@
</head>
<body>
    

    <div class="master-wrapper-page">

        <div class="header">


            <div class="header-logo">
                <a asp-controller="home" asp-action="ReturnToOriginalApplication" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                    <div class="navbar-brand"></div>
                </a>
            </div>


        </div>


        <div class="master-wrapper-content">


            <div class="master-column-wrapper">

                <div class="center-1">
                    @RenderBody()
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-upper">
                <div class="footer-block information">
                    <div class="title">
                        <strong>Information</strong>
                    </div>
                    <ul class="list">
                        <li><a href="/sitemap">Sitemap</a></li>
                        <li><a href="/shipping-returns">Shipping &amp; returns</a></li>
                        <li><a href="/privacy-notice">Privacy notice</a></li>
                        <li><a href="/conditions-of-use">Conditions of Use</a></li>
                        <li><a href="/about-us">About us</a></li>
                        <li><a href="/contactus">Contact us</a></li>
                    </ul>
                </div>
                <div class="footer-block customer-service">
                    <div class="title">
                        <strong>Customer service</strong>
                    </div>
                    <ul class="list">
                        <li><a href="/search">Search</a> </li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/blog">Blog</a></li>

                    </ul>
                </div>
                <div class="footer-block my-account">
                    <div class="title">
                        <strong>My account</strong>
                    </div>
                    <ul class="list">
                        <li><a href="/customer/info">My account</a></li>
                        <li><a href="/order/history">Shippings</a></li>
                        <li><a href="/customer/addresses">Addresses</a></li>

                        <li><a href="/vendor/apply">Apply for vendor account</a></li>
                    </ul>
                </div>
                <div class="footer-block follow-us">
                    <div class="social">
                        <div class="title">
                            <strong>Follow us</strong>
                        </div>
                        <ul class="networks">
                            <li class="facebook"><a href="http://www.facebook.com/drivedrop" target="_blank">Facebook</a></li>
                            <li class="twitter"><a href="https://twitter.com/drivedrop" target="_blank">Twitter</a></li>
                            <li class="rss"><a href="/news/rss/1">RSS</a></li>
                            <li class="youtube"><a href="http://www.youtube.com/user/drivedrop" target="_blank">YouTube</a></li>
                            <li class="google-plus"><a href="https://plus.google.com/+drivedrop" target="_blank">Google+</a></li>
                        </ul>
                    </div>
                    <div class="newsletter">
                        <div class="title">
                            <strong>Newsletter</strong>
                        </div>
                        <div class="newsletter-subscribe" id="newsletter-subscribe-block">
                            <div class="newsletter-email">
                                <input class="newsletter-subscribe-text" id="newsletter-email" name="NewsletterEmail" placeholder="Enter your email here..." type="text" value="" />
                                <input type="button" value="Subscribe" id="newsletter-subscribe-button" class="button-1 newsletter-subscribe-button" />
                            </div>
                            <div class="newsletter-validation">
                                <span id="subscribe-loading-progress" style="display: none;" class="please-wait">Wait...</span>
                                <span class="field-validation-valid" data-valmsg-for="NewsletterEmail" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="newsletter-result" id="newsletter-result-block"></div>
                        <script type="text/javascript">
                        //function newsletter_subscribe(subscribe) {
                        //    var subscribeProgress = $("#subscribe-loading-progress");
                        //    subscribeProgress.show();
                        //    var postData = {
                        //        subscribe: subscribe,
                        //        email: $("#newsletter-email").val()
                        //    };
                        //    $.ajax({
                        //        cache: false,
                        //        type: "POST",
                        //        url: "/subscribenewsletter",
                        //        data: postData,
                        //        success: function (data) {
                        //            subscribeProgress.hide();
                        //            $("#newsletter-result-block").html(data.Result);
                        //            if (data.Success) {
                        //                $('#newsletter-subscribe-block').hide();
                        //                $('#newsletter-result-block').show();
                        //            } else {
                        //                $('#newsletter-result-block').fadeIn("slow").delay(2000).fadeOut("slow");
                        //            }
                        //        },
                        //        error: function (xhr, ajaxOptions, thrownError) {
                        //            alert('Failed to subscribe.');
                        //            subscribeProgress.hide();
                        //        }
                        //    });
                        //}

                        //$(document).ready(function () {
                        //    $('#newsletter-subscribe-button').click(function () {
                        //        newsletter_subscribe('true');
                        //    });
                        //    $("#newsletter-email").keydown(function (event) {
                        //        if (event.keyCode == 13) {
                        //            $("#newsletter-subscribe-button").click();
                        //            return false;
                        //        }
                        //    });
                        //});
                        </script>
                    </div>

                </div>
            </div>
            <div class="footer-lower">
                <div class="footer-info">
                    <span class="footer-disclaimer">Copyright &copy; 2017 Your store name. All rights reserved.</span>
                </div>
                <div class="footer-powered-by">

                    Powered by <a href="http://www.drivedrop.com/">drivedrop</a>
                </div>

            </div>

        </div>
    </div>            

                <environment names="Development,Staging,Production">

                    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
                    <script src="@(Url.Content("~/lib/jquery/dist/jquery.js"))"></script>

                    <script src="@(Url.Content("~/lib/bootstrap/dist/js/bootstrap.js"))"></script>
                    <script src="@(Url.Content("~/js/site.js"))" asp-append-version="true"></script>


                </environment>
                @*<environment names="Staging,Production">
                    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                            asp-fallback-src="@(Url.Content("~/lib/jquery/dist/jquery.min.js"))"
                            asp-fallback-test="window.jQuery"
                            crossorigin="anonymous"
                            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
                    </script>
                    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
                    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                            asp-fallback-src="@(Url.Content("~/lib/bootstrap/dist/js/bootstrap.min.js"))"
                            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                            crossorigin="anonymous"
                            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
                    </script>
                    <script src="@(Url.Content("~/js/site.min.js"))" asp-append-version="true"></script>


                </environment>*@



                @RenderSection("scripts", required: false)
</body>







</html>










