@model IEnumerable<DriveDrop.Bl.ViewModels.AddressModel>
@using DriveDrop.Bl.Services
@inject FormatService fService

@{
    ViewData["Title"] = "Details";

    var addresses = Model;
    var customerTypeId = (int)ViewBag.CustomerType;

    var option = new DriveDrop.Bl.ViewModels.TwoParameterModel { Id = (int)@ViewBag.Id, Option = "Addresses" };
}



<section class="sender-desh">
    <div class="container">
        <div class="main-cont">
            <div class="row">
                @if (customerTypeId == 1)
                {
                    @await Html.PartialAsync("AdminNavigation", option)
                }
                else if (customerTypeId == 2)
                {
                    @await Html.PartialAsync("CustomerNavigation", option)
                }
                else if (customerTypeId == 3)
                {
                    @await Html.PartialAsync("DriverNavigation", option)
                }


                <div id="content" class="col-sm-9">
                    <div id="gig-information" class="">
                        <h3 class="blue-head active">My Addresses</h3>
                        <div class="form-body">
                            <div class="profile-form">
                                <div class="row">
@using (Html.BeginForm())
{
                                    @Html.AntiForgeryToken()
                                    <div class="address-list">
                                        <ol class="opc">
                                            <li class="tab-section allow active">
                                                <div class="step-title">
                                                    <h4 class="title">Default Address</h4>
                                                </div>
                                            </li>
                                        </ol>

                                        @if (addresses.Where(x => x.TypeAddress == "home").FirstOrDefault() == null)
                                        {
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                THERE ARE NO DEFAULT ADDRESS
                                            </div>
                                        }
                                        @foreach (var address in addresses.Where(x => x.TypeAddress == "home"))
                                        {


                                            <div class="section address-item">
                                                <div class="title">
                                                    <strong>@address.Contact @fService.FormatPhoneNumber(address.Phone, "") </strong>
                                                </div>
                                                <ul class="info">

                                                    <li class="address1">

                                                        @address.Street
                                                    </li>
                                                    <li class="city-state-zip">
                                                        @address.City, @address.State, @address.ZipCode
                                                    </li>
                                                    <li class="country">
                                                        @address.Country
                                                    </li>
                                                </ul>
                                                <div class="buttons">
                                                    @*<input type="button" class="btn btn-primary" onclick="location.href = '@(Url.Action("EditAddress","Sender", new {id = address.Id}))'" value="Edit" />*@
                                                    @*<input type="button" class="button-2 delete-address-button" onclick="deletecustomeraddress(@(address.Id))" value="Delete" />*@
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    @if (customerTypeId == 3)
                                    {
                                         <br />
                                        <div class="address-list">

                                            <ol class="opc">
                                                <li class="tab-section allow active">
                                                    <div class="step-title">
                                                        <h4 class="title">Others Addresses</h4>
                                                    </div>
                                                </li>
                                            </ol>

                                            @foreach (var address in addresses.Where(x => x.TypeAddress.ToLower()!= "home"))
                                            {

                                                <div class="section address-item">
                                                    <div class="title">
                                                        <strong>@address.Contact @address.Phone</strong>
                                                    </div>
                                                    <ul class="info">

                                                        <li class="address1">

                                                            @address.Street
                                                        </li>
                                                        <li class="city-state-zip">
                                                            @address.City, @address.State, @address.ZipCode
                                                        </li>
                                                        <li class="country">
                                                            @address.Country
                                                        </li>
                                                    </ul>
                                                    <div class="buttons">

                                                        <input type="button" class="btn btn-primary" onclick="defaultaddress(@(address.Id))" value="Set as default" />
                                                        @*<input type="button" class="btn btn-primary" onclick="location.href = '@(Url.Action("AddressAdd","common", new {id = address.Id}))'" value="Edit" />*@
                                                        <input type="button" class="btn btn-primary" onclick="deletecustomeraddress(@(address.Id))" value="Delete" />
                                                    </div>
                                                </div>
                                            }
                                            <div class="btn-group"><br />
                                                <input type="button" class="btn btn-primary" onclick="location.href = '@(Url.Action("AddressAdd","common", new {id =ViewBag.Id}))'" value="New" />
                                            </div>
                                        </div>
                                    }
                                    @if (customerTypeId == 2)
                                    {
                                        <br />
                                        <div class="address-list">

                                            <ol class="opc">
                                                <li class="tab-section allow active">
                                                    <div class="step-title">
                                                        <h4 class="title">Pickup Address</h4>
                                                    </div>
                                                </li>
                                            </ol>

                                            @foreach (var address in addresses.Where(x => x.TypeAddress.ToLower() == "pickup"))
                                            {

                                                <div class="section address-item">
                                                    <div class="title">
                                                        <strong>@address.Contact @address.Phone</strong>
                                                    </div>
                                                    <ul class="info">

                                                        <li class="address1">

                                                            @address.Street
                                                        </li>
                                                        <li class="city-state-zip">
                                                            @address.City, @address.State, @address.ZipCode
                                                        </li>
                                                        <li class="country">
                                                            @address.Country
                                                        </li>
                                                    </ul>
                                                    <div class="buttons">

                                                        <input type="button" class="btn btn-primary" onclick="defaultaddress(@(address.Id))" value="Set as default" />
                                                        @*<input type="button" class="btn btn-primary" onclick="location.href = '@(Url.Action("EditAddress","Sender", new {id = address.Id}))'" value="Edit" />*@
                                                        <input type="button" class="button-2 delete-address-button" onclick="deletecustomeraddress(@(address.Id))" value="Delete" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <br />
                                                        <div class="address-list">
                                                            <ol class="opc">
                                                                <li class="tab-section allow active">
                                                                    <div class="step-title">
                                                                        <h4 class="title">Dropoff Address</h4>
                                                                    </div>
                                                                </li>
                                                            </ol>


                                                            @foreach (var address in addresses.Where(x => x.TypeAddress.ToLower() == "drop"))
                                                            {

                                                                <div class="section address-item">
                                                                    <div class="title">
                                                                        <strong>@address.Contact @address.Phone</strong>
                                                                    </div>
                                                                    <ul class="info">

                                                                        <li class="address1">

                                                                            @address.Street
                                                                        </li>
                                                                        <li class="city-state-zip">
                                                                            @address.City, @address.State, @address.ZipCode
                                                                        </li>
                                                                        <li class="country">
                                                                            @address.Country
                                                                        </li>
                                                                    </ul>
                                                                    <div class="buttons">

                                                                        @*<input type="button" class="btn btn-primary" onclick="location.href = '@(Url.Action("EditAddress","Sender", new {id = address.Id}))'" value="Edit" />*@
                                                                        <input type="button" class="button-2 delete-address-button" onclick="deletecustomeraddress(@(address.Id))" value="Delete" />
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                    }
}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
 
<script type="text/javascript">
                        function defaultaddress(addressId) {
                            if (confirm('Are you sure?')) {
                                var postData = {
                                    id: @ViewBag.Id,
                                    addressId: addressId
                                }; 
                                $.ajax({
                                    cache: false,
                                    type: 'GET',
                                    url: '@Url.Action("DefaultAddress", "common")',
                                    data: postData,
                                    dataType: 'json',
                                    success: function (data) {
                                        alert(data);
                                       location.href = '@Url.Action("Addresses", "common")?id=@ViewBag.Id' ;
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert('Failed to update');
                                    }
                                });
                            }
                        }

                        function deletecustomeraddress(addressId) {
                            if (confirm('Are you sure?')) {
                                var postData = {
                                    addressId: addressId,
                                    customerId: '@ViewBag.Id'
                                };
                                
                                //addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: 'GET',
                                    url: '@Url.Action("DeleteAddress", "common")',
                                    data: postData,
                                    dataType: 'json',
                                    success: function (data) {
                                        alert(data);
                                         location.href = '@Url.Action("Addresses", "common")?id=@ViewBag.Id';
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert('Failed to delete');
                                    }
                                });
                            }
                        }
</script>
                                                
  