@model  DriveDrop.Web.ViewModels.CurrentCustomerModel

@{
    ViewData["Title"] = "Details";
}



<section class="sender-desh">
    <div class="container">
        <div class="main-cont">
            <div class="row">

                @await Html.PartialAsync("CustomerNavigation", Model.Id)

                <div id="content" class="col-sm-9">
                    <div id="gig-information" class="sender-form">
                        <h3 class="blue-head active">Sender Information</h3>
                        <div class="form-body">
                            <div class="profile-form">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="profile">
                                            <div class="photo">
                                                <input type="file" accept="image/*" id="my-file-selector-Personal" name="photoUrl">
                                                <div class="photo__helper">
                                                    <div class="photo__frame photo__frame--circle">
                                                        <canvas class="photo__canvas"></canvas>
                                                        <div class="message is-empty">
                                                            <p class="message--desktop">
                                                                @*<input type='file' id="my-file-selector-Personal" name="PersonalPhotoUri" />*@
                                                                <img id="Personal-image" src="@Model.PersonalPhotoUri" />

                                                                @*<img src="~/images/profile-icon.png">*@
                                                                

                                                                Recommended
                                                            </p>
                                                            <p class="message--mobile">Tap here to select your picture.</p>
                                                        </div>
                                                        <div class="message is-loading">
                                                            <i class="fa fa-2x fa-spin fa-spinner"></i>
                                                        </div>
                                                        <div class="message is-dragover">
                                                            <i class="fa fa-2x fa-cloud-upload"></i>
                                                            <p>Drop your photo</p>
                                                        </div>
                                                        <div class="message is-wrong-file-type">
                                                            <p>Only images allowed.</p>
                                                            <p class="message--desktop">Drop your photo here or browse your computer.</p>
                                                            <p class="message--mobile">Tap here to select your picture.</p>
                                                        </div>
                                                        <div class="message is-wrong-image-size">
                                                            <p>Your photo must be larger than 350px.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="photo__options hide">
                                                    <div class="photo__zoom">
                                                        <input type="range" class="zoom-handler">
                                                    </div><a href="javascript:;" class="remove"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                   
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <form data-ajax-method="POST" asp-action="UpdateInfo" enctype="multipart/form-data"
                                                  data-ajax="true" data-ajax-mode="replace" data-ajax-update="#bar-notification">

                                                @Html.AntiForgeryToken()


                                                <input asp-for="Id" hidden />
                                                <input asp-for="CustomerStatusId" hidden />
                                                <input asp-for="CustomerStatus" hidden />
                                                <input asp-for="PersonalPhotoUri" hidden />

                                                <div class="form-group">

                                                    <div class="title">
                                                        <strong>My Personal Information Details</strong>
                                                    </div>

                                                    <div asp-validation-summary="ModelOnly" class="result"></div>

                                                     
                                                    <div class="form-fields">
                                                        <div class="form-field">
                                                            <label for="CustomerStatus"><span>Status </span>@Model.CustomerStatus</label>
                                                           
                                                        </div>
                                                        <div class="form-field">
                                                            <label for="FirstName">First Name</label>

                                                            <input asp-for="FirstName" placeholder="First name" />
                                                            <span class="required">*</span>

                                                            <span asp-validation-for="FirstName" class="text-danger"></span>


                                                        </div>
                                                        <div class="form-field">
                                                            <label for="LastName">Last Name</label>
                                                            <input asp-for="LastName" placeholder="Last name" />
                                                            <span class="required">*</span>
                                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-field">
                                                            <label for="LastName">Email address</label>
                                                            <input asp-for="Email" placeholder="Email" />
                                                            <span class="required">*</span>
                                                            <span asp-validation-for="Email " class="text-danger"></span>
                                                        </div>
                                                        
                                                        <div class="form-field">
                                                            @Html.LabelFor(m => m.PrimaryPhone)
                                                            @Html.TextBoxFor(m => m.PrimaryPhone, new { @data_inputmask = "'mask': '(999) 999-9999'" })
                                                            <span class="required">*</span>
                                                            @Html.ValidationMessageFor(m => m.PrimaryPhone)


                                                         </div>
                                                        <div class="form-field">
                                                            @Html.LabelFor(m => m.Phone)
                                                            @Html.TextBoxFor(m => m.Phone, new { @data_inputmask = "'mask': '(999) 999-9999'" })
                                                            <span class="required">*</span>
                                                            @Html.ValidationMessageFor(m => m.Phone)


                                                             
                                                        </div>
                                                        <div class="form-field">

                                                            <label for="VerificationId">Verification ID</label>
                                                            <input asp-for="VerificationId" placeholder="Verification ID" />
                                                            <span class="required">*</span>
                                                            <span asp-validation-for="VerificationId" class="text-danger"></span>
                                                        </div>
                                                     
                                                         

                                                        <div class="post-gig">
                                                            <input type="submit" value="Save" name="save-info-button" class="bttn save-customer-info-button" />
                                                        </div>

                                                        <div class="center-block bg-primary text-center" id="bar-notification">

                                                        </div>
                                                    </div>

                                                </div>

                                            </form>


                                        </div>
                                    </div>
                                </div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                                    
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

            $(function () {
                $('form').submit(function () {
                    var data = new FormData();
                    i = 0;

                    $(".file-select").each(function () { data.append($(this).val(), $(this).get(0).files[0]); i++; })

                    var postData = $('#fields :input');

                    $.each(postData, function (key, input) {
                        alert(input.name);
                        alert(input.value);
                        data.append(input.name, input.value);
                    });



                    if ($(this).valid()) {
                        $.ajax({
                            url: this.action,
                            type: this.method,
                            data: data, // $(this).serialize(),
                            success: function (result) {
                                $('#bar-notification').html(result);
                                alert(result);
                            },
                            error: function (response) {
                                alert("Error:" + response);
                            }
                        });
                    }
                    return false;
                });
            });


            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#Personal-image').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#my-file-selector-Personal").change(function () {
                readURL(this);
            });


    @*var theDiv = document.getElementById("newShipmentTr");
    var button = document.getElementById("button");

    function removeRed() {

        var classContent = theDiv.className;

        theDiv.className = classContent.replace("sr-only", "").trim();
    }

    //button.addEventListener("click", removeRed, false);

                     jQuery('#PickupZipCode').on('input propertychange paste', function () {
                         UpdateRate()
                     });
                     jQuery('#DeliveryZipCode').on('input propertychange paste', function () {
                         UpdateRate()
                     });
                     jQuery('#Quantity').on('input propertychange paste', function () {
                         UpdateRate()
                     });
                     jQuery('#Amount').on('input propertychange paste', function () {
                         UpdateRate()
                     });

                     $("#TransportTypeId").change(function () {
                         UpdateRate()
                     });

                     $("#PriorityTypeId").change(function () {
                         UpdateRate()
                       });

                     $("#PromoCode").change(function () {
                         UpdateRate()
                     });

                     function UpdateRate( ) {


                        // var myLength = $("#PickupZipCode").val().length;
                         var delLength = $("#DeliveryZipCode").val().length;
                         var delZip = $("#DeliveryZipCode").val();
                         if (delLength < 5)
                             return;

                         var pickupLength = $("#PickupZipCode").val().length;
                         var  pickupZip = $("#PickupZipCode").val();
                         if (pickupLength < 5)
                             return;



                         var weight = $("#Weight").val();
                         var quantity = $("#Quantity").val();
                         var amount = $("#Amount").val();
                         var transportTypeId = $("#TransportTypeId").val();
                         if (transportTypeId == 'Prority')
                             return;
                         var priorityTypeId = $("#PriorityTypeId").val();
                         if (priorityTypeId == 'Transport Type')
                             return;


                         var promoCode = $("#PromoCode").val();

                         if (quantity != '' && amount != '' && transportTypeId != '' && priorityTypeId != '') {
                            alert("weight "+weight+"quantity:" + quantity + "amount:" + amount + "transportTypeId:" + transportTypeId + "priorityTypeId:" + priorityTypeId);

                             $.ajax({
                                 url: '@Url.Action("CalculateAmount","rates")' , // to get the right path to controller from TableRoutes of Asp.Net MVC
                               dataType: "json", //to work with json format
                                 type: "POST", //to do a post request

                             //  contentType: 'application/json; charset=utf-8', //define a contentType of your request
                                 cache: false, //avoid caching results
                                 data: { zipFrom: pickupZip, zipTo: delZip, weight: weight, qty: quantity, priority: priorityTypeId, transportTypeId: transportTypeId, promoCode: promoCode}, // here you can pass arguments to your request if you need
                                 success: function (data) {
                                     // data is your result from controller
                                     if (data) {

                                         $("#subtotal").text(data.strSubTotal);
                                         $("#TaxDiscount").text(data.strDiscount);
                                         $("#totalTax").text(data.strTaxAmount);
                                         $("#total").text(data.strAmountToCharge);

                                     }

                                 },
                                 error: function (xhr, ajaxOptions, thrownError) {
                                     alert(xhr.responseText);
                                     //alert(xhr.status);
                                     //alert(thrownError);

                                 }
                             });
                         }
                     }*@





                                        </script>
                                    }
