@model  DriveDrop.Web.ViewModels.Customer

    @{
        ViewData["Title"] = "Details";
    }
 

    <section class="esh-catalog-filters">
        <div class="container">
            <h2>Sender dashboard</h2>

             
            </div>
        </section>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.LastName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>
                            <dt>
                                Customer Status
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CustomerStatus.Name)
                            </dd>
                           
                        </dl>
                    </div>
                    <div class="col-md-5">
                        <dl class="dl-horizontal">
                          
                            <dt>
                                Customer Type
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CustomerType.Name)
                            </dd>
                            <dt>
                                E-Mail
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt>
                                Phone
                            </dt>
                            <dd>
                                @Model.Phone
                            </dd>
                        </dl>
                    </div>
                </div>  
                <div>
                    <table class="table">
                        <tr>
                            <th colspan="5">    
                            <button type="button" id="button" class="btn btn-default btn-brand btn-brand-big">Add new Shipping</button>

                            </th>

                        </tr>
                        <tr id="newShipmentTr" class="sr-only">
                            <td colspan="5">

                                <div id="newShipment">
                                    
                                    @await Component.InvokeAsync("NewShipment", new { id = @Model.Id })
                                </div>

                            </td>
                        </tr>
                    </table>


                </div>

                <div>
                    @await Component.InvokeAsync("ShippingByCustomer", new { customerId = @Model.Id })
                </div>
                <div> 
                    <a asp-controller="admin" asp-action="Index">Back to List</a>
                </div>
            </div>


            <script>

               



            </script>


            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    var theDiv = document.getElementById("newShipmentTr");
    var button = document.getElementById("button");

    function removeRed() {

        var classContent = theDiv.className;

        theDiv.className = classContent.replace("sr-only", "").trim();
    }

    button.addEventListener("click", removeRed, false);

                     jQuery('#PickupZipCode').on('input propertychange paste', function () {
                         UpdateRate()
                     });
                     jQuery('#DeliveryZipCode').on('input propertychange paste', function () {
                         UpdateRate()
                     });
                     jQuery('#Quantity').on('input propertychange paste', function () {
                         UpdateRate()
                     });
                     jQuery('#Amount').on('input propertychange paste', function () {
                         UpdateRate()
                     });

                     $("#TransportTypeId").change(function () {
                         UpdateRate()
                     });

                     $("#PriorityTypeId").change(function () {
                         UpdateRate()
                       });

                     $("#PromoCode").change(function () {
                         UpdateRate()
                     });

                     function UpdateRate( ) {


                        // var myLength = $("#PickupZipCode").val().length;
                         var delLength = $("#DeliveryZipCode").val().length;
                         var delZip = $("#DeliveryZipCode").val();
                         if (delLength < 5)
                             return;

                         var pickupLength = $("#PickupZipCode").val().length;
                         var  pickupZip = $("#PickupZipCode").val();
                         if (pickupLength < 5)
                             return;



                         var weight = $("#Weight").val();
                         var quantity = $("#Quantity").val();
                         var amount = $("#Amount").val();
                         var transportTypeId = $("#TransportTypeId").val();
                         if (transportTypeId == 'Prority')
                             return;
                         var priorityTypeId = $("#PriorityTypeId").val();
                         if (priorityTypeId == 'Transport Type')
                             return;


                         var promoCode = $("#PromoCode").val();

                         if (quantity != '' && amount != '' && transportTypeId != '' && priorityTypeId != '') {
                            // alert("weight "+weight+"quantity:" + quantity + "amount:" + amount + "transportTypeId:" + transportTypeId + "priorityTypeId:" + priorityTypeId);

                             $.ajax({
                                 url: '@Url.Action("CalculateAmount","rates")' , // to get the right path to controller from TableRoutes of Asp.Net MVC
                               dataType: "json", //to work with json format
                                 type: "POST", //to do a post request

                             //  contentType: 'application/json; charset=utf-8', //define a contentType of your request
                                 cache: false, //avoid caching results
                                 data: { zipFrom: pickupZip, zipTo: delZip, weight: weight, qty: quantity, priority: priorityTypeId, transportTypeId: transportTypeId, promoCode: promoCode}, // here you can pass arguments to your request if you need
                                 success: function (data) {
                                     // data is your result from controller
                                     if (data) { 
                                        
                                         $("#subtotal").text(data.strSubTotal);
                                         $("#TaxDiscount").text(data.strDiscount);
                                         $("#totalTax").text(data.strTaxAmount);
                                         $("#total").text(data.strAmountToCharge); 
                                         
                                     }
                                         
                                 },
                                 error: function (xhr, ajaxOptions, thrownError) {
                                     alert(xhr.responseText);
                                     //alert(xhr.status);
                                     //alert(thrownError);

                                 }
                             });
                         }
                     }
</script>
            }
