@model  DriveDrop.Web.ViewModels.Customer

@{
    ViewData["Title"] = "Details";
}
<div class="container">
<h2>Details</h2>

 
    <h4>Sender</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            Customer Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerStatus)
        </dd>
        <dt>
            Customer Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerType)
        </dd>
        <dt>
            E-Mail
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Phone
        </dt>
        <dd>
           @*@Model.Phone*@
        </dd>
    </dl>
     
    <div>
        <table class="table">
            <tr>
                <th colspan="5">    <button type="button" id="button" class="btn btn-default">Add new Shipping</button></th>

            </tr>
            <tr id="newShipmentTr" class="sr-only">
                <td colspan="5">

                    <div id="newShipment">
                        <label class="title">Add New Shipment</label>
                        @*@await Component.InvokeAsync("NewShipment", new { id = @Model.Id })*@
                    </div>

                </td>
            </tr>
            </table>


</div>

   <div>
       @*@await Component.InvokeAsync("ShippingByCustomer", new { customerId = @Model.Id })*@
   </div>
     <div>
        @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
        @*<a asp-action="Index">Back to List</a>*@
    </div>
    </div>
   

<script>

    var theDiv = document.getElementById("newShipmentTr");
    var button = document.getElementById("button");

    function removeRed() {
        
        var classContent = theDiv.className;

        theDiv.className = classContent.replace("sr-only", "").trim();
    }

    button.addEventListener("click", removeRed, false);
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
