@model  ApplicationCore.Entities.ClientAgregate.Customer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransportType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransportType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerStatus.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerStatus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPackage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxPackage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupRadius)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PickupRadius)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliverRadius)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliverRadius)
        </dd>

        
        

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>